body {
  background-color: #dee4ed;
  margin-left:
}
h1 {
  text-align: center;

}

.dog {
  width: 300px;
  border: 15px solid #7b91b7;
  padding: 30px;
  margin: 10px;
  background-color: #7b91b7;
  border-radius: 15px;

}

.column1 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  padding-left: 110px;
}

.column2 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  padding-left: 110px
}
p.intro {
   text-align: center;
   font-style: italic;
 }

p.NGO{
  text-align: center;
  font-weight: bold;
}
footer {
  color: red;
}
